h2{margin: 15px auto 10px;font-size: 15px;}
.wen{ width: 100%; height: 500px; background-color:lightgoldenrodyellow;}
.ftc1 { width: 1000px; margin: 0 auto;  margin-top: 10px;}
.part1{ float: left;width: 250px;height:220px; padding: 0 20px;}
.part1 .item1{ width:80px;}
.part1 .item2{width:120px ;}
.a1{ display: block; height: 70px ;background: url("3.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
a{ line-height: 30px;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.part1 li{float: left;}
.part2{float: left; width:355px; height:220px;padding: 0 20px;  border-left: 1px solid #DBDBDB;  border-right: 1px solid #DBDBDB;}
.c1{ display: block;width:80px; height: 9px; margin: 0 auto; padding: 19px;text-indent: -9999px; background: url("2.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.c2{padding: 45px 0 20px;}
.part3{float: left; width: 120px;height:220px;padding: 0 20px;}
.part3 .a2{ display: block; height:20px ;margin-bottom: 9px; line-height: 26px;}
.s2{  display: block;height: 80px; margin-top: 10px;text-indent: -9999px; background: url("4.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.txt1{ line-height: 24px;}
.part4{float: left; width: 60px;height:220px; padding: 0 20px;}
.ftc2{width: 1000px; margin:10px auto;text-align: center;}
.txt1{color: #999999;}
.txt2{ padding: 20px 0;}